.input-group{
    margin :20px 0;
 
}
.details{
 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
/* .left-bar{
    width:30%
} */
.back{
    margin: 20px ;
}

.right-bar{
    width:70%;
    margin-right: 20px;
}