.input-group {
  margin: 20px 0;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:20px;
}

.back {
  margin: 20px 30px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.right-bar {
  width: 70%;
  margin: 20px;
  margin-top: -10px;
}
